<%= javascript_pack_tag 'chat_rooms' %>

<p>
<strong>Users In Chatroom</strong>
<%= @chat_room.name %>
<ul>
  <% @chat_users.each do |chat_user| %>
    <li><%= chat_user.user.name %></li>
  <% end %>
</ul>
</p>

<p>
  <%= link_to "Leave #{@chat_room.name}", chat_room_chat_room_user_path(@chat_room), method: :delete %></li>
</p>

<div data-behavior="messages" data-chat-room-id='<%= @chat_room.id %>'>
<% @messages.each do |message| %>
  <div>
    <%= "> #{message.user.name}: #{message.message}" %>
  </div>
<% end %>
</div>

<%= form_for [@chat_room, Message.new] do |f| %>
  <%= f.text_area :message, rows: 1, class: "form-control", autofocus: true %>
<% end %>