<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to root_path do %>
      Chat
    <% end %>
    <h5>Chatrooms</h5>
    <ul>
      <% ChatRoom.all.each do |chatroom| %>
        <li><%= link_to chatroom.name, chatroom %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
