<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          Chatter
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <%= "Current User: #{@current_user.name}" %>
      </ul>
    </div>
  </nav>

  <div class="fluid-container" style="margin-top: 70px">
    <div class="row">
      <div class="col-sm-2">
        <h5>Chatrooms</h5>
        <ul>
          <% ChatRoom.all.each do |chatroom| %>
            <li><%= link_to "Join #{chatroom.name}", chat_room_chat_room_user_path(chatroom), method: :post %></li>
          <% end %>
        </ul>
        <h5>Users</h5>
        <ul>
          <% User.all.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-sm-10 col-sm-offset-2">
        <%= yield %>
      </div>
    </row>
  </div>
</html>
